.bar {
    height: 50px;
    width: 100%;
    border: 2px solid rgb(216, 33, 33);
    display: flex;
    /* flex-direction: row ; */
    justify-content: space-around;
    align-items: center;
}

.bar button {
    padding: 7px;
}